<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bug Tracker</title>

  <!-- Custom fonts for this template-->
  <link href="template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="template/navbar.html">
  <link rel="stylesheet" th:href="@{/template/css/sb-admin-2.css}" />
   <script type="text/javascript" th:src="@{/template/js/sb-admin-2.js}"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
	<div th:insert="fragments.html :: nav(${ticketGrp}, ${activePage})">
	</div>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <div th:insert="toptoolbar.html :: toptoolbar(${Name})"></div>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-1 text-gray-800">Ticket Groups
          	<a class="btn btn-primary fa text-light float-right" th:href="@{/cgroup/{id}(id=${groupid})}">Create Group</a>
          </h1>
          <!--  <p class="mb-4">Bootstrap's default utility classes can be found on the official <a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities below were created to extend this theme past the default utility classes built into Bootstrap's framework.</p>
          -->
          <!--  <div class="row">-->
          
          <div class="col-lg-8 mt-3">



		   
		   <div class="card shadow mb-3" th:each = "ticketGrp : ${ticketGrp}"  >
          	<div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary text-lg" th:text="${ticketGrp.Name}"></h6>
             </div>
            <p class=" p-2 m-2" th:text="${ticketGrp.Description}"></p>
            <a th:href="@{/group/{id}(id=${ticketGrp.Id})}" class="stretched-link"></a>
		   </div>
		



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




  <!-- Bootstrap core JavaScript-->
  <script src="template/vendor/jquery/jquery.min.js"></script>
  <script src="template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="template/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="template/js/sb-admin-2.min.js"></script>

</body>

</html>
	