<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bug Tracker</title>

  <!-- Custom fonts for this template -->
  <link href="/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/template/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/template/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
	<div th:insert="fragments.html :: nav(${ticketGrp}, ${activePage}, ${groupid})">
	</div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

		<div th:insert="toptoolbar.html :: toptoolbar(${Name})"></div>
    	

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
			  
			
			
		<div class="card shadow mb-4">
			<div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary h3">Tickets for <th:text="${groupid}"></th:text>
              	<a class="btn btn-outline-danger fa float-right ml-2" th:href="@{/deletegroup/{id}(id=${groupid})}">Delete Group</a>
              	<a class="btn btn-outline-primary fa float-right ml-2" th:href="@{/cticket/{id}(id=${groupid})}">Create Ticket</a>
              	</h6>
              
            </div> 
			 <div class="card-body">
              <div class="table-responsive">  	
			   	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
			   		<thead>
                    <tr>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Created</th>
                      <th></th>
                     </tr>
                     </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Created</th>
                      <th></th>
                     </tr>
                  </tfoot>
                     
			   		
			   		
					<tr th:each = "tics : ${tics}">
			        	<td th:text="${tics.Title}"></td>
			        	<td th:text="${tics.Author}"></td>
			        	<td th:text="${tics.Created}"></td>
			  
			        	<td class ="m-0 p-0 pl-3 align-middle">
				        	<a class="btn btn-primary fa text-light" th:href="@{/edittic/{Id}(Id=${tics.Id})}">Edit</a>
				        	<a class="btn btn-primary fa text-light" th:href="@{/deletetic/{Id}(Id=${tics.Id})}">Delete</a>
				        	<a class="btn btn-primary fa text-light" th:href="@{/dticket/{Id}(Id=${tics.Id})}">Details</a>
			        	</td>
			        </tr>
			        
				</table>
				</div>
				</div>
			</div>
				
				
				

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/template/vendor/jquery/jquery.min.js"></script>
  <script src="/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/template/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/template/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/template/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/template/js/demo/datatables-demo.js"></script>

</body>

</html>
